
*.aar
*.jar

# Vagrant setup
.vagrant

# JetBrains IDEs
.idea

# Android Studio
local.properties

# macOS
.DS_Store

# Xcode
.swiftpm/

# Demo Secrets
android/credentials.properties
android/demo/src/main/cpp/
android/demo/src/main/java/com/example/myapplication/Secrets.kt
